@import 'normalize.css';

body{
  font-size: 150%;
}
article{
  padding: 1em;
}

h2{
  color: red;
  font-size: 2em;
}

h3{
  font-size: 2em;
  margin: 1em 0 0.3em;
}

*{
  box-sizing: border-box;
}

ol, li{
  margin: 0;
  padding: 0;
}

var{
  background: black;
  width: 100%;
  display: block;
  color: white;
  padding: 1em;
}

.key{
  color: gold;
  padding-right: 0.2em;
}

.divider{
  font-size: 1.3em;
  border-bottom: 0.2em dashed red;
}


ol{
  width: 100%;
  list-style: none;
  counter-reset: item;
    li{
      position: relative;
      font-size: 1.2em;
      &:before {
        content: counter(item); 
        counter-increment: item;
        color: white;
        position: absolute;
        left: 5px;
        top: 5px;
        font-size: 1.3em;
        background: green;
        min-width: 1.2em;
        height: 1.2em;
        text-align: center;
      }
    } 
}

header{
  position: fixed;
  bottom: 0;
  z-index: 2;
  background: black;
  width: 100%;
}

.menu-toggle {
  position: relative;
  background: yellow;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 1em;
  
  &:active{
    background: red;
  }
}

.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  background: rgba(0,0,0,0.8);
  font-size: 1.8em;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 90%;
  top: 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -webkit-transform: translateX(-100%);
  
  &.open{
    -webkit-transform: translateX(0);
  }
  
  li{
    margin: 0;
    padding: 0;
  }
  
  a{
    display: block;
    color: white;
    padding: 0.3em 0.7em;
    border-bottom: 1px solid white;
    text-decoration: none;
    
    &.level2{
      color: yellow;
      padding-left: 1.5em;
    }

    &.level1{
      background: gray;
    }
    
    &:active{
      background: red;
    }
  }
}